/* .App {
  text-align: center;
  height: 100%;
  top: 0;  
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .collection-item:hover {
  color: rgb(240, 83, 83);
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 0 1px 1px black; 
  background: rgb(247, 247, 247);
}
*/
/* .secondary-content {
  padding: 10px;
} */
.material-icons {
  margin: 0 7px;
  transition: all .1s ease-in;
}

/* .material-icons:hover {
  transform: scale(1.1);
  border-bottom: .5px solid rgb(171, 171, 171);
  cursor: pointer;
} */

.project-name:hover {
  color: rgb(240, 83, 83);
  cursor: pointer;
  font-weight: 600;
}

.hamburger {
  position: relative;
  top: 50px;
  left: -30px;
  color: black;
  display: flex;
  flex-direction: column;
  background: rgb(255, 117, 117);
  width: 150px;
  margin: 0;
  padding: 0;
  border-radius: 0% 25% 25% 25%;
  z-index: 2;
  /* align-items: space-between; */
}

.hamburger > li {
  padding: 0;
  margin: 0;
}
.hamburger > li > a {
  color: black;
}
.hamburger .collection-item *:hover {
  background: none;
}
.hamburger > li > a:hover {
  color: red;
}
.hamburger-item .material-icons {
  color: white;
}
.hamburger-item:hover, .hamburger-item .material-icons:hover {
  background: none;
  color: rgb(0, 0, 0);

}
.hamburger-item:hover {
  transform: scale(1.1);
}
/* .hamburger-item>li {
  width: 100%;
} */
/* .hamburger-item >li:hover {
  background: rgb(252, 135, 135);
} */
.formField {
  width: 40%;
  margin: 0;
  padding: 0;
} 
.formInput {
  width: 200px;
}
.design-img {
  position: relative;
  width: 40%;
}
img {
  width: 100%;
}
.project-overview .material-icons:hover {
  transform: scale(1.15);
  /* border-bottom: .5px solid rgb(171, 171, 171); */
  cursor: pointer;
}
.project-new {
  transition: all .12s ease-in;
}
.project-new:hover {
  transform: scale(1.04);
}
.design-img-display {
  margin: 10px 0;
  border: 1px solid black;
}